@import './colors';
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // = 10px
}

body {
	font-family: 'Open Sans', sans-serif;
	// font-family: 'Raleway', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

//NAVIGATION

.nav {
	// background-color: red;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
	}

	
	&__logo {
		width: 100px;
		padding: 1em;
		cursor: pointer;
	}

	&__item {
		padding: 1em;
		font-size: 1.3rem;
		font-family: 'Raleway', sans-serif;
		color: $desaturated-blue;
		text-decoration: none;
		cursor: pointer;
		transition: .3s color;

		&:hover {
			color: hsl(268, 38%, 63%);
		}

	}
}



// ==========
// MEDIA 
// ==========

@media(min-width: 576px) {
	.nav {
		&__logo {
			margin-left: 2em;
			width: 130px;
		}
		&__items {
			margin-right: 2em;
		}
		&__item {
			font-size: 1.6rem;
		}
	}
}

@media(min-width: 992px) {
	.nav {
		margin-top: 2em;

		&__logo {
			width: 150px;
		}
		&__item {
			font-size: 1.8rem;
		}
	}
}