.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 7em 3em;
}

.section-heading {
  font-size: 2.4rem;
  color: #4c545d;
  margin-bottom: .8em;
  text-align: center;
}

.section-text {
  font-size: 1.6rem;
  text-align: center;
  color: #9fabb2;
  margin-bottom: 3em;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
}

.header {
  background-image: url("/clipboard-landing-page/images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10em 3em;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header__info-logo {
  margin-bottom: 4em;
}

.header__info-heading {
  font-size: 3rem;
  color: #4c545d;
}

.header__info-text {
  font-size: 1.6rem;
  margin: 1em 0 2em;
  color: #9fabb2;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btns .btn {
  width: 90%;
  max-width: 280px;
  padding: 1.5em;
  margin-bottom: 1em;
  color: #fff;
  font-weight: 600;
  background: none;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s background-color;
  transition: 0.4s background-color;
}

.header__btns .btn--mac {
  background-color: #6173ff;
  -webkit-box-shadow: 1px 1px 10px #6173ff;
          box-shadow: 1px 1px 10px #6173ff;
}

.header__btns .btn--mac:hover {
  background-color: #5266ff;
}

.header__btns .btn--ios {
  background-color: #26baa4;
  -webkit-box-shadow: 0 0 5px #26baa4;
          box-shadow: 0 0 5px #26baa4;
}

.header__btns .btn--ios:hover {
  background-color: #05d1b2;
}

.snippets-img {
  width: 100%;
  margin-bottom: 2em;
}

.snippets__box {
  margin-top: 3em;
  text-align: center;
}

.snippets__box-heading {
  font-size: 1.8rem;
  color: #4c545d;
  margin-bottom: 0.5em;
}

.snippets__box-text {
  font-size: 1.5rem;
  color: #9fabb2;
  line-height: 24px;
}

.access-img {
  width: 100%;
}

@media (min-width: 576px) {
  .header {
    background-image: url("/clipboard-landing-page/images/bg-header-desktop.png");
  }
  .header__info-heading {
    font-size: 3.4rem;
  }
  .header__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__btns .btn {
    margin: 1em;
    font-size: 1.6rem;
  }
  .snippets .section-heading {
    font-size: 2.8rem;
  }
  .snippets .section-text {
    font-size: 1.8rem;
  }
  .snippets__box {
    margin-top: 5em;
  }
  .snippets__box-heading {
    font-size: 2.4rem;
  }
  .snippets__box-text {
    font-size: 1.8rem;
  }
  .access .section-heading {
    font-size: 2.8rem;
  }
  .access .section-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 776px) {
  .snippets__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .snippets__body-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  .snippets__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .snippets__box {
    text-align: left;
    margin-left: 4em;
  }
  .access__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7em;
  }
  .access__img img {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .header__info-text {
    font-size: 2rem;
  }
  .snippets__box-heading {
    font-size: 2.6rem;
  }
  .snippets__box-text {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */